# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/
.envrc

# Cache do pip
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*.swo

# Banco de dados local ou arquivos de exemplo
*.sqlite3
*.db

# Gerados por PyInstaller
*.spec
dist/
build/

# Diretórios ocultos do sistema
.DS_Store
Thumbs.db
